/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: 'Open Sans';
  font-weight: 100;
  src: url('../font/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../font/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('../font/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../font/OpenSans-ExtraBold.ttf') format('truetype');
}


html {
    font-family: "Open Sans";
    font-weight: 400;

}

#left {
	position: fixed;
    height: 100vh;
    background: #2121;
    padding-top: 40vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}

#right {
    min-width: 40em;
    max-width: 50em;
    height: 90vh;
    margin-left: 240px;
    padding-top: 10vh;
}


#left h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    width: max-content;
}

#left h2 {
	margin-right: 2vw;
    font-size: 0.8em;
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 100;
    font-style: italic;
    width: 100%;
}

.spacer {
	margin-top: 100px;
}
.spacer:before {
	content: ' ';
}

#nav li {
    margin-left: 50px;
    margin-top: 1vh;
    padding: 10px;
    width: 140px;
 
}

#nav li#active {
	background: white;
	margin-right: 0;
    
}

#nav li a:visited, 
#nav li a:link, 
#nav li a:active {
    font-weight: lighter;
    font-size: 1.2em;
    text-decoration: none;
    color: black;

}

#nav li:hover {
	background: darkgray;
	margin-right: -1vw;
}

#posts li {
	margin-bottom: 1vh;
	padding: 0.5vh 0vw;
	width: 90%;
	border-bottom: 1px solid #CDCDCD;
	border-left: 10px solid #CDCDCD;
    display: block;
}

#posts .date {
	display: inline-block;
    font-size: 0.8em;
    float: right;
    margin-right: 1%;
}

#posts li:hover{
	border-color: darkgray;
}

#posts li a,
#posts li a:visited, 
#posts li a:link, 
#posts li a:active {
	font-weight: lighter;
    font-size: 1em;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 50%;   
    margin-left: 1%;

}

#list_nav {
    font-size: 1em;
    width: 100%;
    margin-top: 10vw;
}

#list_nav a,
#list_nav a:visited, 
#list_nav a:link, 
#list_nav a:active {
	text-decoration: none;
	color: black;
	font-weight: 100;
}

#list_nav div:hover {
	background: darkgray;
}

#list_nav .prev {
    background: #CDCDCD;
    padding: 0.2em 1em;
    display: inline-block;
    float: left;
}

#list_nav .next {
	background: #CDCDCD;
	padding: 0.1em 1em;
	display: inline-block;
	float: right;
}

.article h1{
	font-size: 2em;
	margin: 2% 0;
}

.article h2 {
	font-size: 1.2em;
	margin: 1% 0;
}

.article h3 {
	font-size: 1.1em;
	margin: 1% 0;
}

.article p {
	font-size: 1em;
	margin-bottom: 2%;
	line-height: 1.5em;
	display: block;
}

.article p:after
{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.article strong {
	font-weight: 500;
}

.article i {
	text-decoration: underline;
}

.article img {
	margin: 0 auto;
	display: block;
	margin-bottom: 2%;
	max-width: 100%;
}



.article p img:nth-child(odd){
	float: left;
	margin: 1%;
	margin-left: 0;
}

.article p img:nth-child(even){
	float: right;
	margin: 1%;
	margin-right: 0;
	
}

.article ul {
	list-style: square;
	margin-left: 3vw;
	line-height: 1.5em;
}

.article a,
.article a:visited, 
.article a:link, 
.article a:active {
	color: black;
	padding: 0em 1em;
	border: 1px solid lightgray;
	text-decoration: none;
}

.article a:hover {
	border: 1px solid black;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent; /* Change the background-color of table here */
  text-align: left; /* Change the text-alignment of table here */
}

th {
  font-weight: bold;
  border: 1px solid #cccccc; /* Change the border-color of heading here */
  padding: 8px;
}

td {
  border: 1px solid #cccccc; /* Change the border-color of cells here */
  padding: 8px;
}

/* Stylized */

/* Adding Striped Effect for odd rows */

tr {
  background-color: transparent; /* Change the default background-color of rows here */
}

tr:nth-of-type(2n+1) {
  background-color: #eeeeee; /* Change the background-color of odd rows here */
}

tr th {
  background-color: #dddddd; /* Change the background-color of heading here */
}

/* Adding Hover Effect for rows */

tr {
  -moz-transition: background-color 300ms ease-in-out 0s;
  -ms-transition: background-color 300ms ease-in-out 0s;
  -o-transition: background-color 300ms ease-in-out 0s;
  -webkit-transition: background-color 300ms ease-in-out 0s;
  transition: background-color 300ms ease-in-out 0s;
}

tr:hover {
  background-color: #fff176; /* Change the hover background-color of rows here */
}


tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

th, td {
  border: none;
}