---
layout: default
---

<div id="posts">
  <ul>
    {% for post in paginator.posts %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a><span class="date">{{ post.date | date: "%Y %b, %-d" }}</span></li>
    {% endfor %}
  </ul>
</div>
{% for tag in tags %}
	<a href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}
<div id="list_nav">
  {% if paginator.previous_page %}
  <div class="prev">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.baseurl}}/index.html">[{{ paginator.previous_page }}]</a>
    {% else %}
    <a href="{{ site.baseurl}}/page{{ paginator.previous_page }}">[{{ paginator.previous_page }}]</a>
    {% endif %}
  </div>
  {% endif %}

  {% if paginator.next_page %}
  <div class="next">
    <a href="{{ site.baseurl}}/page{{ paginator.next_page }}">[{{ paginator.next_page }}]</a>
  </div>
  {% endif %}
</div>