{% extends "base.html" %}

{% block content %}

<section class="posts_list">
    {% if ABOUTME %}
    <section class="about_me">
        <h3><span class="grayed_out">$</span> whoami</h3>
        {{ ABOUTME }}
    </section>
    {% endif %}
    {% if 0 %}
    {% for category, articles in categories %}
    <h3><span class="grayed_out">$ ls -ls</span> {{ category }}</h3>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}">
                <time datetime="{{ article.date.isoformat() }}">
                    [{{ article.date|strftime('%d/%b/%Y')}}]
                </time>
                - {{ article.title }}
                {% for tag in article.tags %}
                <span class="grayed_out tag">{{ tag.name }}</span>
                {% endfor %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}
    <ul>
        {% for article in articles_page.object_list %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}">
                <time datetime="{{ article.date.isoformat() }}">
                    [{{ article.date|strftime('%d/%b/%Y')}}]
                </time>
                - {{ article.title }}
                {% for tag in article.tags %}
                <span class="grayed_out tag">{{ tag.name }}</span>
                {% endfor %}

            </a>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock content %}