{% include header.html %}

<div id="main_wrapper">
    <div id="left">
        <h1>Mateusz Myalski</h1>
        <h2>The real OS fits in a floppy disk.</h2>
        <div class="spacer">

        </div>
        <ul id="nav">
            <li {% if page.url == "/index" %} id="active" {% endif %}><a href="{{ site.baseurl }}/index.html">About</a></li>
            <li><a href="https://linkedin.com/in/mateuszmyalski">LinkedIn</a></li>
            <li><a href="https://github.com/mateuszmyalski">Github</a></li>
            <li {% if page.url == "/tutorials" %} id="active" {% endif %}><a href="{{ site.baseurl }}/tutorials.html">Tutorials</a></li>
            <li {% if page.url == "/projects" %} id="active" {% endif %}><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
            <li {% if page.url == "/lifestyle" %} id="active" {% endif %}><a href="{{ site.baseurl }}/lifestyle.html">Life style</a></li>
        </ul>
    </div>
    <div id="right">
        {{ content }}
    </div>
</div>
{% include footer.html %}